<dl class="sub-nav">
<dd><li><%= link_to "Main",user_path(@user) %></li></dd>

<dd><li><%= link_to "Edit", edit_user_path(@user) %></li></dd>

<dd class="active"><li><%= link_to "Contacts",recipients_path  %></li></dd>

<dd><li><%= link_to "Templates",user_campaigns_path(@user) %></li></dd>

<dd><li><%= link_to "Delete Account", user_path(@user), :method => :delete %></li></dd>
</dl>


<%= link_to "Create Contact", new_recipient_path, class: "button radius" %>
<h3>These Are All Your Recipients</h3>
<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="150">Email</th>
    </tr>
  </thead>
    <tr>
      <% @recipients.each do |recipient| %>
      <td><%= recipient.name%></td>
      <td><%= recipient.email%></td>
  <% end %>
    </tr>
    <tr>
      <td>Joe</td>
      <td>joe@new.com</td>
    </tr>
  </tbody>
</table>