<dl class="sub-nav">
<dd><li><%= link_to "Main",user_path(@user) %></li></dd>
<dd><li><%= link_to "Edit", edit_user_path(@user) %></li></dd>
<dd class="active"><li><%= link_to "Contacts",recipients_path  %></li></dd>
<dd><li><%= link_to "Templates",user_campaigns_path(@user) %></li></dd>
<dd><li><%= link_to "Delete Account", user_path(@user), :method => :delete %></li></dd>
<dd><li><%= link_to "Log Out", session_path, :method => :delete %></li></dd>
</dl>

<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="150">Email</th>
    </tr>
  </thead>
    <tr>
      <td><%= @recipent.name%></td>
      <td><%= @recipent.email%></td>
      <td><%=link_to "Edit" %></td>

    </tr>