<dl class="sub-nav">
<dd><li><%= link_to "Main",user_path(@user) %></li></dd>

<dd><li><%= link_to "Edit", edit_user_path(@user) %></li></dd>

<dd><li><%= link_to "Contacts",recipients_path %></li></dd>

<dd class="active"><li><%= link_to "Templates",user_campaigns_path(@user) %></li></dd>

<dd><li><%= link_to "Delete Account", user_path(@user), :method => :delete %></li></dd>
</dl>

<divclass="large-block-grid-4">

<a href="<%= @email_template.all %>" data-dropdown="drop" class="small secondary radius button dropdown">Email List</a>
<a href="<%= @recipients.all %>" data-dropdown="drop" class="small secondary radius button dropdown">Recipients List</a>
</div>  

<%= link_to "Create Template", user_campaign_email_template_path(@user,@campaign), class: "button tiny radius"%>

