<h1>Campaign: <%= @campaign.name %></h1>
<% if @campaign.email_template %>
  <%= link_to "Edit Template", edit_campaign_email_template_path(@campaign )  %>
<% else %>
  <%= link_to 'Create Template', new_campaign_email_template_path(@campaign) %>
<% end %>

<h3>Add Recipients</h3>
<%= form_for @campaign do |f| %>
  <%= f.collection_select(:recipient_ids, current_user.recipients, :id, :email, {}, multiple: true) %>
  <%= f.submit :save %>
<% end %>