<h1>Campaign: <%= @campaign.name %></h1>
<%= link_to "Edit Campaign", edit_campaign_path(@campaign) %>
<br>
<% if @campaign.email_template %>
  <%= link_to "Edit Template", edit_campaign_email_template_path(@campaign), class: 'button tiny radius' %>
  <br>
<% else %>
<br>
  <%= link_to 'Create Template', new_campaign_email_template_path(@campaign), class: 'button tiny radius' %>
<% end %>


<h3>Current Recipients:</h3>
<ul>
  <% @campaign.recipients.each do |recipient| %>
    <li><%= recipient.email %></li>
  <% end %>
</ul>