<dl class="sub-nav">
<dd><li><%= link_to "Main",user_path(@user) %></li></dd>
<dd><li><%= link_to "Edit", edit_user_path(@user) %></li></dd>
<dd><li><%= link_to "Contacts",recipients_path  %></li></dd>
<dd class="active"><li><%= link_to "Templates",user_campaigns_path(@user) %></li></dd>
<dd><li><%= link_to "Delete Account", user_path(@user), :method => :delete %></li></dd>
<dd><li><%= link_to "Log Out", session_path, :method => :delete %></li></dd>
</dl>

<h3>Enter Your Email Body</h3>

<%= form_for @email_template, :url => user_campaign_email_template_path(@user, @campaign) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "Submit" ,class: "button radius"  %>
<% end %>
