<h3>Enter Your Email Body</h3>

<%= form_for @email_template do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "Submit" ,class: "button radius"  %>
<% end %>
